@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Cabin:wght@100;300;400;500;600;700;900&display=swap");
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

::selection {
  background-color: rgb(255, 204, 74);
  color: "#F5F5F5";
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}
.flex--justify {
  justify-content: space-between;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 100rem;
}
.container--column {
  flex-direction: column;
}

.bullet__points {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bullet__points:not(:last-child) {
  margin-bottom: 1rem;
}
.bullet__points svg {
  width: 19.687px;
  height: 19.687px;
  display: inline-block;
  margin-right: 0.8rem;
}
.bullet__points span {
  color: rgb(89, 85, 102);
  font-family: Cabin;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%; /* 18.56px */
}

.text--white {
  color: #fff;
}

.u-no-margin {
  margin: 0 !important;
}

.margin-right--sm {
  margin-right: 1rem;
}

.u-margin-top--small {
  margin-top: 1rem;
}

.u-margin-top--large {
  margin-top: 2rem;
}

.u-margin-top--small {
  margin-top: 2rem;
}

.u-margin-bottom--small {
  margin-bottom: 1rem;
}

.u-margin-bottom--large {
  margin-bottom: 3rem;
}

.u-text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.text--greeen {
  color: green;
}

.u-default-body {
  padding: 0 20%;
}

.u-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.heading-01 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 5rem;
}

.heading-02 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 4.5rem;
}

.heading-03 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 4rem;
}

.heading-04 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 3.5rem;
}

.heading-05 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 3rem;
}

.heading-06 {
  font-weight: 600;
  font-family: "Cabin", "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: "#1C1C1C";
  font-style: normal;
  line-height: 1;
  font-size: 2rem;
}

.heading--sm {
  color: #181818;
  font-family: Cabin;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.heading--lg {
  color: #181818;
  font-family: Cabin;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.text-points {
  color: #595566;
  font-family: Cabin;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%; /* 18.56px */
}

.subtitle {
  color: #595566;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.8rem;
  line-height: 147.5%;
}
.subtitle--small {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400; /* 23.6px */
}
.subtitle--points {
  font-size: 1.1rem;
  font-style: normal;
}
.subtitle--primary {
  color: rgb(255, 204, 74);
}
.subtitle--sm {
  font-size: 1.4rem;
  color: #fff;
}
.subtitle--white {
  color: white;
}
.subtitle--black {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}
.subtitle--green {
  color: green;
  font-weight: 700;
}

.intro__text {
  padding: 0.4rem 2rem;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 10rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 147.5%; /* 23.6px */
  letter-spacing: 2.32px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.intro__text--yellow {
  background-color: rgb(255, 204, 74);
  color: rgb(0, 0, 0);
}
.intro__text--green {
  background-color: #4eaf4e;
  color: #fff;
}

.btn, .btn:link, .btn:visited {
  border-radius: 42px;
  display: inline-block;
  font-family: "Lato";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  line-height: 160%; /* 28.8px */
}
.btn--black {
  padding: 10px 22px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.1s linear;
}
.btn--black:hover {
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.btn--primary {
  padding: 10px 17px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 204, 74);
}
.btn--primary:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.btn--icon {
  background-color: #fff;
  color: black;
  font-size: 1.6rem;
}
.btn--icon > span {
  margin-left: 0.6rem;
  margin-top: 1rem;
}
.btn--icon > span > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.btn--text {
  color: rgb(0, 0, 0);
  background-color: transparent;
  padding: 8px 10px;
}
.btn--group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.icon__button {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 41px 8px 10px;
  border-radius: 12rem;
  cursor: pointer;
}
.icon__buttontext {
  color: rgba(53, 53, 53, 0.8274509804);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper h4 {
  width: 60%;
  margin: 0 auto;
}
.swiper img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 4rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  background-color: #ccc;
  width: 80px;
  border-radius: 100px;
  padding: 1rem;
}
.swiper-button-next a,
.swiper-button-prev a {
  color: #000;
}
.swiper-button-next div,
.swiper-button-prev div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.section-contact {
  background-color: #ffffff;
  padding: 5% 20%;
}

.contact__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 50rem;
}
.contact__left {
  flex-basis: 35%;
  margin-right: 8rem;
}
.contact__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contact__group:not(:last-child) {
  margin-bottom: 3rem;
}
.contact__group svg {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 1.4rem;
}
.contact__right {
  flex: 1;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__group__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.form__group__container:not(:last-child) {
  margin-bottom: 3rem;
}
.form__group__container > * {
  width: 50%;
}
.form__label {
  display: block;
  color: #63616a;
  font-family: Lato;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
}
.form__input {
  width: 95%;
  display: block;
  padding: 1.5rem 1rem;
  border-radius: 3.4rem;
  border: 1px solid #c1c1c1;
  background: #fff;
}
.form__input:focus:invalid {
  outline: 3px solid red;
}
.form__input:focus {
  outline: 3px solid #4eaf4e;
}
.form__message {
  width: 100%;
  margin-bottom: 2rem;
}
.form__message--textarea {
  width: 100%;
  height: 18rem;
}

.image__container {
  width: auto;
  height: 300px;
  border-radius: 2.8rem;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 2.8rem;
}

.brands {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.brands__item {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  height: 30px;
  width: auto;
}

.about {
  margin: 5% 0;
  padding: 0 20%;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__details {
  flex-basis: 50%;
  margin-right: 7rem;
}
.about__details__subtitle {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}
.about__image {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  margin-top: 1rem;
}
.about__image__stats {
  position: absolute;
  border-radius: 20px;
  background: #fff;
  box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
  display: flex;
  align-items: center;
  bottom: 4rem;
  left: -2rem;
}
.about__image__main {
  width: auto;
  height: 300px;
  border-radius: 2.8rem;
}
.about__image__pattern {
  position: absolute;
  z-index: -1;
  height: 200px;
  width: auto;
  bottom: -4rem;
  left: -2rem;
}

.stats {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  justify-content: space-between;
}
.stats__item {
  border-radius: 15px;
  background: #f6f6f6;
  padding: 1.1rem 2rem;
}
.stats__item svg {
  display: inline-block;
  vertical-align: sub;
  margin-right: 1rem;
}
.stats__item h3 {
  display: inline-block;
  font-size: 3rem;
}
.stats__item p {
  color: #181818;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 147.5%;
}

.services {
  background-color: #f5f5f5;
  padding: 5% 20%;
}
.services__container {
  text-align: center;
}
.services__container h4 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center !important;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.services__listitem {
  border-radius: 20px;
  background: #ebebeb;
  padding: 30px 37px;
  text-align: left;
  width: 285px;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.4s linear;
}
.services__listitem:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.services__listitem:hover p {
  color: #fff;
}
.services__listitem h3 {
  font-size: 2rem;
}
.services__listitem p {
  color: #595566;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 147.5%; /* 23.6px */
}
.services__listitem svg {
  height: 30px;
  width: 30px;
}

.process {
  padding: 5% 20%;
}
.process__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.process__content {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-items: flex-start;
  margin-right: 8rem;
}
.process__content h4 {
  width: 90%;
}
.process__content p {
  color: #595566;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%; /* 23.6px */
}
.process__steps {
  border-top: 1px solid #c1c1c1;
  padding: 1rem 0;
}
.process__stepsitems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid #c1c1c1;
}
.process__stepsitems:nth-child(2) > div > span, .process__stepsitems:nth-child(3) > div > span {
  color: #fff;
}
.process__stepsitems:nth-child(2) > div > div {
  background-color: green;
}
.process__stepsitems:nth-child(3) > div > div {
  background-color: rgb(0, 0, 0);
}
.process__stepsitems:nth-child(3) {
  border: none;
}
.process__stepsitemsnumber {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.3rem;
  padding: 1.5rem 0;
}
.process__stepsitemsnumber > div {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 204, 74);
  border-radius: 50%;
}
.process__stepsitemsnumber > span {
  position: absolute;
  color: #181818;
  font-family: Cabin;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}
.process__clients {
  align-self: flex-start;
  flex: 1;
}
.process__features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.process__features__item {
  border-radius: 20px;
  border: 1px solid #eaeaea;
  background: #fafafa;
  width: 210px;
  height: 180px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}
.process__features__item svg {
  width: 30px;
  height: 30px;
}

.gallery {
  position: relative;
  padding: 5% 20%;
}
.gallery__background {
  background-color: rgb(0, 0, 0);
  z-index: -1;
  width: 100%;
  height: 50rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: url("../../src/assets/gallerybackgroundpattern.png");
  background-color: black;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.gallery__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.gallery__heading h4 {
  width: 60%;
}
.gallery__images {
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.gallery__images .figure {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  z-index: 6;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}
.gallery__images .figure:hover .figure__caption {
  opacity: 1;
}
.gallery__images .figure__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  transition: all 1s;
}
.gallery__images .figure__overlay:hover {
  opacity: 1;
}
.gallery__images .figure img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.gallery__images .figure__caption {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  opacity: 0;
  transition: all 1s;
  color: white;
}

.testimony {
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog {
  background-color: #f5f5f5;
  padding: 5% 20%;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.blog__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}
.blog__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  flex-basis: 48%;
}
.blog__item:not(:last-child) {
  margin-right: 3rem;
}
.blog__item > img {
  width: auto;
  height: 28rem;
  border-radius: 1rem;
  object-fit: contain;
}
.blog__item h6 {
  color: #181818;
  font-family: Cabin;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%; /* 34.8px */
  width: 90%;
  margin-top: 1rem;
}
.blog__item span {
  color: #595566;
  font-family: Lato;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%; /* 23.6px */
  width: 80%;
  margin-top: 0.5rem;
}
.blog__stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}
.blog__stats > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
}
.blog__stats h6 {
  color: #595566;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 40%;
}
.blog__avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.section-vision {
  margin: 5% 0;
}

.counter {
  margin-top: 2rem;
  width: 50%;
}
.counter__container {
  padding: 1rem;
}
.counter__container h4 {
  color: #181818;
  font-family: Cabin;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 58px */
}
.counter__container span {
  color: #181818;
  font-family: Cabin;
  font-size: 1.1rem;
  display: inline-block; /* 20.88px */
}

.section-features {
  background-color: rgb(225, 225, 225);
  padding: 6rem 0;
}

.features {
  border-radius: 1rem;
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}
.features__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 23%;
  padding: 2rem;
  border-radius: 1.1rem;
}
.features__item:not(:last-child) {
  margin-right: 1rem;
}
.features__item--icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.section-history {
  padding: 10rem 0;
}

.history__video {
  position: relative;
  width: 90%;
  color: #181818;
  height: 35rem;
  border-radius: 1rem;
  margin-top: 1rem;
  z-index: 10;
  overflow: hidden;
}
.history__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.history__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 0;
  opacity: 0;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  z-index: 99;
}
.history__overlay.show {
  width: 100%;
  opacity: 1;
}
.history__button {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
}
.history__button svg {
  height: auto;
  width: 30%;
}

.section-team {
  background-color: rgb(225, 225, 225);
  padding: 10rem 0;
}

.team {
  border-radius: 1rem;
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}
.team__item {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 1.1rem;
}
.team__item:not(:last-child) {
  margin-right: 1rem;
}
.team__image {
  height: 27rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.team__socials--link {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  cursor: pointer;
}
.team__socials--link:not(:last-child) {
  margin-right: 1.4rem;
}
.team__socials--link svg {
  height: 100%;
  width: 100%;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: red;
}
.header__hero {
  height: 100%;
}
.header__topsection {
  height: 5%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
}
.header__topsection__item {
  padding: 10px;
  display: inline-block;
  text-align: center;
}
.header__topsection__item svg {
  font-size: 1rem;
  vertical-align: 0.01rem;
  margin-right: 0.3rem;
  color: rgb(255, 204, 74);
}
.header__topsection__item .social-icon {
  color: #fff;
  font-size: 1.5rem;
}
.header__topsection__item .social-icon:not(:last-child) {
  margin-right: 1rem;
}
.header__banner {
  height: 80%;
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__banner--index {
  background: url("../assets/herobanner.png");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__banner--about {
  background: url("../assets/about-header.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__banner__info {
  position: absolute;
  left: 10%;
  bottom: 20%;
  background-color: #fff;
  display: flex;
  width: 400px;
  padding: 40px 50px;
  flex-direction: column;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(5.5px);
}
.header__banner__info p {
  color: #595566;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%;
}
.header__title {
  position: absolute;
  background: rgba(255, 255, 255, 0.838);
  backdrop-filter: blur(5.5px);
  left: 25%;
  bottom: 25%;
  width: 40%;
  padding: 4rem 5rem;
  border-radius: 3rem;
}

.nav {
  height: 15%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4rem 19rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  backdrop-filter: blur(10.5px);
}
.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav__linkitem {
  padding: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
}
.nav__linklogo {
  margin-right: 0.5rem;
  vertical-align: sub;
  transition: all 0.6s linear;
}
.nav__link {
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.6s linear;
}
.nav__linkitem:hover .nav__link {
  color: green;
  font-size: 1.5rem;
}
.nav__linkitem:hover .nav__linklogo {
  fill: green;
}

.title__layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.title__layout h4 {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
