@use "./variables" as * ;

@mixin baseHeadingStyles(){
    font-weight: 600;
    font-family: "Cabin", $main-text-stack;
    color: $base-text-color;
    font-style: normal;
    line-height: 1;
}


@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUEERY MANAGER

//1600 rem /16=

@mixin respond ($breakpoint){
    @if $breakpoint==phone{
        @media (max-width:37.5em){@content}
    }
}