@use "../abstracts" as *;

.btn {
  border-radius: 42px;
  display: inline-block;
  color: $secondary-color-02;
  font-family: "Lato";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  line-height: 160%; /* 28.8px */

  &--black {
    padding: 10px 22px;
    color: #fff;
    background-color: $primary-color-03;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color-03;
      color: $primary-color-03;
    }
  }

  &--primary {
    padding: 16px 27px;
    color: $primary-color-03;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-03;
      color: #fff;
    }
  }

  &--icon {
    background-color: #fff;
    padding: 8px 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  &--group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}

.icon__button {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 41px 8px 10px;
  border-radius: 12rem;
  cursor: pointer;

  &text {
    color: #353535d3;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
}
