.swiper {
  width: 100%;
  height: 100%;
  h4 {
    width: 60%;
    margin: 0 auto;
  }

  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4rem;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  border-radius: 10px;
  background-color: #ccc;
  color: red;
  position: absolute;
}
