@use "../abstracts" as *;

.heading-01 {
  @include baseHeadingStyles();
  font-size: 5rem;
}

.heading-02 {
  @include baseHeadingStyles();
  font-size: 4.5rem;
}

.heading-03 {
  @include baseHeadingStyles();
  font-size: 4rem;
}

.heading-04 {
  @include baseHeadingStyles();
  font-size: 3.5rem;
}

.heading-05 {
  @include baseHeadingStyles();
  font-size: 3rem;
}

.heading-06 {
  @include baseHeadingStyles();
  font-size: 2.5rem;
}

.subtitle {
  color: #595566;
  font-family: "Lato";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%;
  width: 895px;
  height: 174.809px;
}
