@use "../abstracts/variables" as *;
.brands {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__item {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 30px;
    width: auto;
    // margin-right: 5rem;
  }
}

main {
//   padding: 0 20%;
}

// ABOUT US SECTION
.about {
  //   background-color: red;
  margin: 10% 0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    // background-color: black;
  }

  &__details {
    //    background-color: brown;
    flex-basis: 50%;
    margin-right: 7rem;

    &__subtitle {
      font-size: 1.2rem;
      margin-bottom: 5rem;
    }
  }

  .intro__text {
    padding: 0.4rem;
    background-color: $primary-color;
    display: inline-block;
    font-size: 1.1rem;
    border-radius: 12rem;
    font-family: "Lato";
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: $primary-color-03;
    margin-bottom: 1rem;
  }

  &__image {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    &__stats {
      position: absolute;
      border-radius: 20px;
      background: #fff;
      box-shadow: -5px 22px 26px 0px rgba(95, 95, 95, 0.25);
      display: flex;
      align-items: center;
      bottom: 4rem;
      left: -2rem;
    }
    &__main {
      width: auto;
      height: 300px;
      border-radius: 2.8rem;
    }
    &__pattern {
      position: absolute;
      z-index: -1;
      height: 200px;
      width: auto;
      bottom: -4rem;
      left: -2rem;
    }
  }
}

.stats {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  justify-content: space-between;

  &__item {
    border-radius: 15px;
    background: #f6f6f6;
    padding: 1.1rem 2rem;
    svg {
      display: inline-block;
      vertical-align: sub;
      margin-right: 1rem;
    }
    h3 {
      display: inline-block;
      font-size: 3rem;
    }
    p {
      color: #181818;
      font-family: Lato;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 147.5%;
    }
  }
}
