@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    border-radius: 42px;
    display: inline-block;
    // color: $secondary-color-02;
    font-family: "Lato";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: 160%; /* 28.8px */
  }

  &--black {
    padding: 10px 22px;
    color: #fff;
    background-color: $primary-color-03;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color-03;
      color: $primary-color-03;
    }
  }

  &--white {
    padding: 10px 22px;
    background-color: #fff;
    color: #000;
    transition: all 0.6s;
    letter-spacing: 1px;
    &:hover {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
    }
  }

  &--primary {
    padding: 10px 17px;
    color: $primary-color-03;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-03;
      color: #fff;
    }
  }

  &--icon {
    background-color: #fff;
    color: black;
    font-size: 1.6rem;

    & > span {
      margin-left: 0.6rem;
      margin-top: 1rem;

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &--text {
    color: $primary-color-03;
    background-color: transparent;
    padding: 8px 10px;
  }

  &--group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}

.icon__button {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 41px 8px 10px;
  border-radius: 12rem;
  cursor: pointer;

  &text {
    color: #353535d3;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
}
