@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    padding:1rem .5rem;
    cursor: pointer;
    transition: all .6s ;
  }

  &__icon{
    background-color: #fff;
    font-size: 1.4rem;   
    &--text{
      font-size: inherit;
      margin-left: .5rem;
      font-weight: 500;
    }
  }

  &:active{
    transform: translateY(-2rem);
  }

  &--black {
    color: #fff;
    background-color: $primary-color-03;
    transition: background-color 0.1s linear;
    font-size: 1.7rem;
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color-03;
      color: $primary-color-03;
    }
  }

  &--group{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }

  &--white {
    padding: 10px 22px;
    background-color: #fff;
    color: #000;
    transition: all 0.6s;
    &:hover {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
    }
  }

  &--primary {
    padding: 10px 17px;
    color: $primary-color-03;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-03;
      color: #fff;
    }
  }

  &--icon {
    background-color: #fff;
    color: black;
    font-size: 1.6rem;

    & > span {
      margin-left: 0.6rem;
      margin-top: 1rem;

      & > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &--text {
    color: $primary-color-03;
    background-color: transparent;
    padding: 8px 10px;
  }


  &--ghost {
    border: 1px solid rgba(24, 24, 24, 1);
    border-radius: 3rem;
    text-align: center;
    padding: 1.5rem 3rem;
    color: black;
    transition: all 0.5s linear;

    &:hover {
      background-color: rgba(24, 24, 24, 1);
      border: 2px solid $primary-color;
      color: #fff;
    }
  }
  &--ghostgreen {
    // border: 1px solid rgba(24, 24, 24, 1);
    background-color: $primary-color;
    border-radius: 3rem;
    text-align: center;
    padding: 1.5rem 3rem;
    color: black;
    transition: all 0.5s linear;

    &:hover {
      background-color: rgba(24, 24, 24, 1);
      border: 2px solid $primary-color;
      color: #fff;
    }
  }
}

