@use "../abstracts/variables" as *;
.section-contact {
  background-color: #ffffff;
  padding: 5% 20%;
}

.contact {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 50rem;
  }

  &__left {
    // background-color: blue;
    flex-basis: 35%;
    margin-right: 8rem;
  }

  &__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    svg {
      width: 5.5rem;
      height: 5.5rem;

      margin-right: 1.4rem;
    }
  }

  &__right {
    // background-color: red;
    flex: 1;
  }
}

.form {
  &__form {
  }

  &__group__container {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      width: 50%;
    }
  }

  &__label {
    display: block;
    color: #63616a;
    font-family: Lato;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
    // margin-top: 0.8rem;
    // line-height: 147.5%;
  }

  &__input {
    width: 90%;
    display: block;
    padding: 1.5rem 1rem;
    border-radius: 3.4rem;
    border: 1px solid #c1c1c1;
    background: #fff;

    &:focus {
      outline: 3px solid $primary-color;
    }
  }
}
