@use "../abstracts" as *;

.heading-01 {
  @include baseHeadingStyles();
  font-size: 5rem;
}

.heading-02 {
  @include baseHeadingStyles();
  font-size: 4.5rem;
}

.heading-03 {
  @include baseHeadingStyles();
  font-size: 4rem;
}

.heading-04 {
  @include baseHeadingStyles();
  font-size: 3.5rem;
}

.heading-05 {
  @include baseHeadingStyles();
  font-size: 3rem;
}

.heading-06 {
  @include baseHeadingStyles();
  font-size: 2rem;
}

.heading--sm {
  color: #181818;
  font-family: Cabin;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.heading--lg {
  color: #181818;
  font-family: Cabin;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.subtitle {
  color: #595566;
  font-family: Lato;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.8rem;
  line-height: 147.5%;

  &--small {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400; /* 23.6px */
  }

  &--primary {
    color: $primary-color;
  }

  &--sm {
    font-size: 1.4rem;
    color: #fff;
  }

  &--white {
    color: white;
  }
  &--black {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
  }
  &--green {
    color: green;
    font-weight: 700;
  }
}

.intro__text {
  padding: 0.4rem;
  background-color: $primary-color;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 12rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 147.5%; /* 23.6px */
  letter-spacing: 2.32px;
  text-transform: uppercase;
  color: $primary-color-03;
  margin-bottom: 1rem;

  &--green {
    background-color: green;
    color: #fff;
  }
}
