@use "../abstracts" as *;

.base-heading-styles {
  font-family: "Cabin", $main-text-stack;
  font-style: normal;
  line-height: 1;
}

.heading-05 {
  font-weight: 500;
  font-size: 5rem;
}

.heading-04 {
  font-weight: 400;
  @extend .base-heading-styles;
  font-size: 4rem;
}

.heading--white {
  color: #ffffff;
}

