.text--white {
  color: #fff;
}

//MARGIN
.u-no-margin {
  margin: 0 !important;
}
.margin-right--sm {
  margin-right: 1rem;
}

//MARGIN-TOP
.u-margin-top--small {
  margin-top: .5rem;
}
.u-margin-top--large {
  margin-top: 2rem;
}


//MARGIN-AUTO
.u-margin-right-auto{
  margin-right: auto;
}

//MARGIN-LEFT
.u-margin-left--small {
  margin-left: 1rem;
}

//MARGIN-BOTTOM

.u-margin-bottom--small {
  margin-bottom: 1rem;
}

.u-margin-bottom--large {
  margin-bottom: 3rem;
}

//TEXT
.u-text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.text--greeen {
  color: green;
}

.u-default-body {
  padding: 0 20%;
}

.u-space-between {
  justify-content: space-between;
}

//FLEX
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

//DISPLAY
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
