.text--white {
  color: #fff;
}

.u-no-margin{
  margin: 0 !important;
}
.margin-right--sm {
  margin-right: 1rem;
}

.margin-top--sm {
  margin-top: 1rem;
}

.u-margin-bottom--sm {
  margin-bottom: 1rem;
}

.u-margin-bottom--large{
    margin-bottom: 3rem;
}


.no-margin{
  margin: 0;
}

.text--greeen{
  color: green;
}