/// Regular font family
/// @type List
$main-text-stack: "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Cabin", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;


//COLORS!;
$primary-color:rgba(255,204,74);
$primary-color-02:"#4EAF4E";
$primary-color-03:rgb(0, 0, 0);

$secondary-color:"#F5F5F5";
$secondary-color-02:rgb(255,255,255);

$base-text-color:"#1C1C1C";
$base-paragraph-color:"#595566";




