@use "../abstracts/variables" as *;

.section-vision{
    margin: $default-margin-top;
}


.counter{
    // margin: 5rem 0;
    background-color: yellow;
    margin-top: 1rem;
    &__container{
        background-color: red;
        width: 4rem;
    }
}