@use "../abstracts/variables" as *;

.section-vision {
  margin: $default-margin-top;
}

.counter {
  // margin: 5rem 0;
  //   background-color: yellow;
  margin-top: 2rem;
  width: 50%;
  &__container {
    // background-color: red;
    // width: 4rem;
    padding: 1rem;

    h4 {
      color: #181818;
      font-family: Cabin;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 116%; /* 58px */
    }
    span {
      color: #181818;
      font-family: Cabin;
      font-size: 1.1rem;
      display: inline-block; /* 20.88px */
    }
  }
}

.section-features {
  background-color: $bg-color;
  padding: 6rem 0;
}

.features {
  border-radius: 1rem;
  display: flex;
  color: $primary-color-03;
  //   height: 5rem;
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  //   background-color: red;

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    &:not(:last-child) {
      margin-right: 1rem;
    }
    width: 23%;
    padding: 2rem;
    border-radius: 1.1rem;
    &--icon {
      width: 5rem;
      height: 5rem;
      margin-bottom: 2rem;
    }
  }
}

.section-history {
  padding: 10rem 0;
}

.history {
  &__video {
    position: relative;
    width: 90%;
    color: #181818;
    // background-color: red;
    height: 35rem;
    border-radius: 1rem;
    margin-top: 1rem;
    z-index: 10;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__overlay {
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // width: 0;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 99;
  }

  &__button {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 2s infinite;

    svg {
      height: auto;
      width: 30%;
    }
  }
}

.section-team {
  background-color: $bg-color;
  padding: 10rem 0;
}

.team {
  border-radius: 1rem;
  display: flex;
  color: $primary-color-03;
  //   height: 5rem;
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  //   background-color: red;

  &__item {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    width: 30%;
    // padding: 2rem;
    border-radius: 1.1rem;
  }

  &__image {
    height: 27rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  &__socials--link {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.4rem;
    }
    cursor: pointer;

    svg{
      height: 100%;
      width: 100%;
    }
  }
}
