@use "../abstracts/variables" as *;
.section-process {
  //   background-color: $bg-color;
  padding: 10rem 0;
}

.process {
  &__image {
    flex-basis: 80%;
    margin-right: 6rem;
  }

  &__details {
  }
}

.section-pricing {
  background-color: $bg-color;
  padding: 5% 20%;
}

.pricing{
  &__container{
    
  }
}
