@use "../abstracts/variables" as *;
.section-process {
  //   background-color: $bg-color;
  padding: 10rem 0;
}

.process {
  &__image {
    flex-basis: 80%;
    margin-right: 6rem;
  }

  &__details {
  }
}

.section-pricing {
  background-color: $bg-color;
  padding: 5% 20%;
}

.pricing {
  &__container {
    width: 100%;
    background-color: red;
  }

  &__item {
    background-color: #fff;
    height: 40rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    // width: 80%;
    flex-basis: calc(100% / 3);

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__header {
    background-color: black;
    border-radius: 1rem;
    color: #fff;
    padding: 3rem;

    p {
      color: #fff;
      width: 95%;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
  }

  &__features {
    margin-top: 1.5rem;
    padding: 0 2rem;
    list-style-type: none;

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.4rem;
    }
  }
}
