@use "../abstracts/variables" as *;
.section-process {
  //   background-color: $bg-color;
  padding: 10rem 0;
}

.process {
  &__image {
    flex-basis: 80%;
    margin-right: 6rem;
  }

  &__details {
  }
}

.section-pricing {
  background-color: $bg-color;
  padding: 5% 20%;
}

.pricing{
  &__container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item{
    background-color: #fff;
    height: 40rem;
    padding: 5rem;
    border-radius: 1rem;
  }
}
