.footer {
  background-image: url("../../assets/footer-bg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 8rem 0;
  position: relative;

  &__overlay {
    filter: blur(0.2rem);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 100;
  }

  &__container{
    position: relative;
    z-index: 200;
  }

  &__logo{
    color: #fff;

    svg{
        margin-right: .4rem;
        width: 2rem;
        height: 2rem;
    }

    h4{
        display: inline-block;
    }
  }
}
