.footer {
  background-image: linear-gradient(to right, rgba(#000, 0.9), rgba(#000, 0.7)),
    url("../../assets/footer-bg.png");
  background-position: center;
  background-size: cover;
  filter: blur(0.2rem);
  padding: 20rem 0;
}
