@use "../abstracts/variables" as *;
.header {
  height: 100vh;
  width: 100vw;
  background-color: red;

  &__hero {
    height: 100%;
  }

  &__topsection {
    height: 5%;
    background-color: $primary-color-03;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;

    &__item {
      padding: 10px;
      display: inline-block;
      text-align: center;
      svg {
        font-size: 1rem;
        vertical-align: 0.01rem;
        margin-right: 0.3rem;
        color: $primary-color;
      }

      .social-icon {
        color: #fff;
        font-size: 1.5rem;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  &__banner {
    height: 80%;
    background: url("../assets/about-header.jpeg");
    background-size: cover;
    background-position: top;
    position: relative;

    

    &__info {
      position: absolute;
      left: 10%;
      bottom: 20%;
      // transform: translate(-50%,-50%);
      background-color: #fff;
      display: flex;
      width: 400px;
      padding: 40px 50px;
      flex-direction: column;
      border-radius: 29px;
      background: rgba(255, 255, 255, 0.69);
      backdrop-filter: blur(5.5px);

      p {
        color: #595566;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 147.5%;
      }
    }
  }

  &__title{
    position: absolute;
    // background-color: white;
    background: rgba(255, 255, 255, 0.69);
    backdrop-filter: blur(5.5px);
    left: 10%;
    bottom: 20%;
    padding: 4rem 5rem;
    border-radius: 3rem;
    
  }
}
